.floorstrengthwidget__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    height: 72px;
    width: 100%;
}

.floorstrengthwidget__title{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-text);
    min-width: 160px;
    margin-right: 20px;
}

.floorstrengthwidget__input{
    color: var(--color-text);
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

.floorstrengthwidget__input > div{
    display: inline-block;
}

.floorstrengthwidget__input input{
    width: 55px;
    background-color: transparent;
    border: 2px solid #989BAA;
    border-radius: 2px;
    height: 17px;
    text-align: start;
    color: var(--color-text);
    font-weight: 700;
    font-size: 12px;
}