.listing__container{
    display: flex;
    border-bottom: 1px solid #332F37;
    align-items: center;
    height: 86px;
}

.listing__row{
    flex-grow: 2;
    flex-basis: 0;
}

.listing__row__small{
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    display: flex;
}


.listing__green{
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 16px;
}

.listing__red{
    color: #FF8062;
    font-weight: 700;
    font-size: 16px;
}

.listing__buy{
    height: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.listing__date{
    font-size: 14px;
    font-weight: 500;
    color: #989BAA;
}

.listing__title{
    font-size: 16px;
    color: #989BAA;
}

.listing__text{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text);
}

.listing__title__column{
    display: inline-block;
    width: 47px;
    margin-right: 10px;
}

.listing__button{
    height: 24px;
    width: 24px;
}

.listing__button:hover{
    cursor: pointer;
    filter: brightness(150);
}

.listing__gap{
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.listing__token{
    display: flex;
    gap: 8px;
}

.listing__img{
    border-radius: 8px;
    height: 50px;
    width: 50px;
}