.base__donut__chart__container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #26232b;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.base__donut__chart__base__donut__chart {
    flex-grow: 1;
    padding: 20px;
    position: relative;
}