.projectpage__row{
    background-color: #322f36;
    padding-top: 50px;
    padding-bottom: 100px;
}

.projectpage__col{
    width: 90%;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 5%;
}

.projectpage__col__half{
    width: 40%;
    height: 250px;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}
